# Matlab auto-save files.
*.asv

#Visual Studio precompiled headers
*.ipch
src/sdk_debug.txt
src/**/sdk_debug.txt
sdk_debug.txt

#Rig-specific user logs
user_logs.txt
!/src/Init_Files/**
!/Guides/Install_Requirements/**
!/src/Devices/Patterning/DMD/ALP/ALP_Libraries/VIALUX control/ALPTool/**

.DS_Store
.vscode
.vs

build
!/.vscode/extensions.json

#Fingerprints
.data
src/User_Interface/relay/saved_waveforms

src/Applications/Simulator/Simulator.json

#Individual user scripts
src/Experimental_Scripts/User_Scripts/
Daniel_temp_data
raffi_temp_data

